.experiencia{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin: 0 auto;
  margin-bottom: 150px;
}



.experiencia-texto{
  font-size: 1.4rem;
  margin-bottom: 60px;
  max-width: 40ch;
}

.projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  -webkit-box-shadow: -6px 9px 26px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -6px 9px 26px -2px rgba(0,0,0,0.75);
box-shadow: -6px 9px 26px -2px rgba(0,0,0,0.75);

}

.projeto::before{
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  position: absolute;
  background: linear-gradient(#b6f829, #67dd0a);
  top: 26px;
  left: -4px;
}

.projeto-ano{
  font-size: 0.875rem;
  position: absolute;
  left: -100px;
  top: 30px;
  width: 80px;
  text-align: right;
}

.projeto-titulo{
  font-weight: bold;
  font-size: 1.2rem;
}

.projeto-habilidades{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.projeto-habilidades li{
  background: #ffff;
  padding: 8px 10px;
  border-radius: 5px;
}

@media (max-width:760px){


  .experiencia{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
  }

  .subtitulo{
    display: none;
  }

  .experiencia-texto{
    text-align: center;
  }

}