.footer {
  padding-top: 100px;
  background: #000;
  color: white;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin: 0 auto;
  padding: 100px 0px 30px 0px;
}

.footer-texto {
  font-size: 1.5rem;
}

.footer-contato {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}
.footer-contato li a {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: underline;
}

.footer-contato li {
  margin-bottom: 20px;
}

.direitos {
  text-align: center;
  color: #a3a3a3;
  padding-bottom: 60px;
  padding-top: 60px;

}

.instagram:hover{
  color: #a4f122;
}

@media (max-width: 780px) {
  .footer-container {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .email{
    font-size: 1.5rem;
  }
  .direitos{
    padding-top: 60px;
  }
}
