.formacao {
  background: #141414;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.formacao-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin: 0 auto;
  max-width: 1200px;
}

.formacao-texto {
  font-size: 1.4rem;
  margin-bottom: 60px;
  max-width: 40ch;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  position: absolute;
  background: linear-gradient(#b6f829, #67dd0a);
  bottom: 100px;
  left: -5px;
}

.faculdade {
  flex: 1; /* PARA TODOS OS QUADRADOS PRETOS TEREM O MESMO TAMANHO */
  background: #000000;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  position: relative;
  background-color: #201f1f;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.cursos-intensivos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #ffffff;
}

.cursos-extras {
  font-size: 1.2rem;
  margin-bottom: 40px;
  margin-top: 100px;
  position: relative;
}
.cursos-extras:before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -40px;
}
.cursos-extras:before {
  background: url("../img/cursos.svg");
}

.cursos-extras {
  color: #a3a3a3;
}

.fluencia {
  color: #a3a3a3;
}

.idiomas {
  color: #a3a3a3;
  font-size: 1.2rem;
  margin-bottom: 40px;
  margin-top: 100px;
  position: relative;
}
.idiomas:before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -40px;
}
.idiomas:before {
  background: url("../img/idiomas.svg");
}
.cursos-content {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
}

@media (max-width: 760px) {
  .formacao-content {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr;
  }

}
