.introducao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 200px;
  background-color: #181a1b;
}

.dev {
  font-size: 4rem;
  letter-spacing: 2px;
  
}
.ux{
    font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 18px;

  
  span{
  color: #b4aea4;
  font-weight: 500;

  }

}
.introducao p {
  font-size: 1.8rem;
  color: #b4aea4;
  letter-spacing: 1px;
}

@media (max-width: 1100px) {
  .rafa {
    width: 400px;
    margin: auto;
    display: block;
  }

  .introducao {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .introducao h1 {
    text-align: center;

    .dev{
      font-size: 2rem;
    }
  }
  .introducao p {
    text-align: center;
  }
}

@media (max-width: 760px) {
  .rafa {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .introducao {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    
  }
  .tittle-intro {
    display: grid;
    justify-content: center;
  }
}
@media (max-width: 550px) {
  .tittle-intro {
    padding-left: 20px;
    padding-right: 20px;
  }
  .introducao img {
    max-width: 300px;
  }
  .dev{
    font-size: 2.4rem;
  }
  
  .tittle-intro p {
    font-size: 1.5rem;
  }
}
